<div
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="25px"
  fxFlexFill
>
  <table fxFlex="90%" mat-table class="mat-elevation-z8">
    <tr mat-header-row>
      <th colspan="2"><h3>Obaveštenja</h3></th>
    </tr>
    <tr mat-header-row>
      <th>Naslov</th>
      <th>Sadrzaj</th>
    </tr>
    <tr *ngFor="let obavestenje of this.obavestenja">
      <td style="word-break: break-all;">
        {{ obavestenje?.obavestenjeDTO.naslov }}
      </td>
      <td>{{ obavestenje?.obavestenjeDTO.sadrzaj }}</td>
    </tr>
  </table>
</div>
