<style>


</style>

<section
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="2vh">

        <p>streaming works!</p>

        <section
            *ngIf="this.stream"
            fxLayout="column"
            fxLayoutAlign="start center"
            fxLayoutGap="2vh">

                <video
                    [hidden]="!localVideo.srcObject"
                    autoplay
                    playsinline 
                    [controls]="false"
                    #localVideo></video>

                <button type="button" mat-button (click)="this.onPlayLocalVideo(localVideo)">play local video</button>
                <button type="button" mat-button (click)="this.onStopLocalVideo(localVideo)">stop playing local video</button>
                <button type="button" mat-button (click)="this.onStartStreamVideo()">start streaming</button>
                <button type="button" mat-button (click)="this.onStopStreamVideo()">stop streaming</button>
        </section>     
        
        <hr style="width: 100%;">

        <button type="button" mat-button (click)="this.getUserMedia()">get user media</button>

        <button type="button" [routerLink]="['/mf_6/viewing']" mat-button>viewing</button>
</section>

