<style>
    .progress-bar {
        margin: 5px 5px;
    }

    .section-table {
        margin: 2vh 6vw;
        background-color: white;
        border-radius: 5px;
        opacity: .9;
        min-width: 50vw;
        max-width: 80vw;
    }
    
    button {
        margin: 1vh 0;
        opacity: .8;
    }
    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

</style>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    style="margin: 0 0 5vh 0;"
    *ngIf="this.data">

        <section class="header">
            <h4>{{this.getClassName()}}</h4>
        </section>

        <section style="width: 40vw;" *ngIf="this.loading">
            <mat-progress-bar 
                class="progress-bar"
                mode="buffer"></mat-progress-bar>
        </section>

        <section 
            class="section-table"
            fxLayout="column"
            fxLayoutAlign="center center"
            [hidden]="!this.loading && this.crudService">
                <lib-my-angular-table
                    *ngIf="this.table"
                    [table]="this.table"
                    [perPage]="10"></lib-my-angular-table>
                
                <app-create *ngIf="this.entitetZaKreiranje" [entitet]="this.entitetZaKreiranje" (onCreationFinished)="this.onCreationFinished()" (onCreationSubmit)="this.onFormSubmit()"></app-create>
                <app-update *ngIf="this.entitetZaIzmenu" [entitet]="this.entitetZaIzmenu" (onUpdateFinished)="this.onUpdateFinished()" (onUpdateSubmit)="this.onFormSubmit()"></app-update>
                <app-details *ngIf="this.entitetZaDetalje" [entitet]="this.entitetZaDetalje" (onDetailsFinished)="this.onDetailsFinished()"></app-details>
                
                <button *ngIf="!this.loading && !this.entitetZaKreiranje" type="button" (click)="this.onKreirajNoviEntitet()" mat-raised-button>kreiraj novi entitet</button>
        </section>
</section>