<style>

</style>

<section
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="1vh">

        <app-sanduce 
            *ngFor="let sanduce of this.sanducici"
            [sanduce]="sanduce"
            (onCallStartEvent)="this.onCallStart(sanduce)"
            (onCallEndEvent)="this.onCallEnd(sanduce)"
            [videoMessage]=""></app-sanduce>

</section>