<style>

    .form-section {
        /* max-width: 400px; */
        /* border: 1px solid black; */
        background-color: white;
        border-radius: 5px;
        /* box-shadow: 3px 3px 8px #cbced1, -3px -3px 8px #ffffff; */
        opacity: 0.92;
    }

    .margin-top-bottom {
        margin: 5vh 0;
    }

</style>

<section
    fxLayout
    fxLayoutAlign="center center"
    class="margin-top-bottom">

    <section
        *ngIf="this.showForm"
        class="form-section"
        fxLayout="column"
        fxLayoutAlign="center center">
            <lib-my-angular-form
                [form]="this.form"
                (onSubmit)="this.onSubmit($event)"
                (onCancel)="this.onCancel()"></lib-my-angular-form>
            <button style="margin: 1vh 0;" type="button" mat-raised-button [routerLink]="['/mf_2_nk/univerziteti']">univerziteti</button>
    </section>
</section>