<div
  *ngIf="!izmena"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="25px"
  fxFlexFill
>
  <table fxFlex="90%" mat-table class="mat-elevation-z8">
    <tr mat-header-row>
      <th colspan="2"><h3>Podaci o korisniku</h3></th>
    </tr>
    <tr mat-header-row>
      <td colspan="2"></td>
    </tr>
    <tr mat-header-row>
      <th>Ime:</th>
      <td>{{ korisnik.ime }}</td>
    </tr>
    <tr mat-row>
      <th>Prezime</th>
      <td>{{ korisnik.prezime }}</td>
    </tr>
    <tr mat-row>
      <th>Datum rodjenja:</th>
      <td>{{ korisnik.datumRodjenja | date }}</td>
    </tr>
    <tr mat-row>
      <th>JMBG:</th>
      <td>{{ korisnik.jmbg }}</td>
    </tr>
    <tr mat-row>
      <th>Email:</th>
      <td>{{ korisnik.email }}</td>
    </tr>
    <tr mat-row>
      <th>Korisničko ime:</th>
      <td>{{ korisnik.korisnickoIme }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_STUDENT']) | async">
      <th>Broj indeksa:</th>
      <td>{{ studentNaStudiji.brojIndeksa }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_STUDENT']) | async">
      <th>Datum upisa:</th>
      <td>{{ studentNaStudiji.datumUpisa | date }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async">
      <th>Biografija:</th>
      <td>{{ nastavnik.biografija }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async">
      <th>Titula:</th>
      <td>{{ titula }}</td>
    </tr>
  </table>
  <div fxLayout="column" fxLayoutAlign="center end" fxFlex="10%">
    <button mat-raised-button (click)="izmeni()">Izmeni osnovne podatke</button>
  </div>
</div>

<div
  *ngIf="izmena"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="25px"
  fxFlexFill
>
  <table fxFlex="90%" mat-table class="mat-elevation-z8">
    <tr mat-header-row>
      <th colspan="2"><h3>Podaci o korisniku</h3></th>
    </tr>
    <tr mat-header-row>
      <td colspan="2"></td>
    </tr>
    <tr mat-header-row>
      <th>Ime:</th>
      <td>
        <input
          type="text"
          name="ime"
          #ime="ngModel"
          [(ngModel)]="korisnik.ime"
          [ngClass]="{ invalid: ime.invalid }"
        />
      </td>
    </tr>
    <tr mat-row>
      <th>Prezime</th>
      <td>
        <input
          type="text"
          name="prezime"
          #prezime="ngModel"
          [(ngModel)]="korisnik.prezime"
          [ngClass]="{ invalid: prezime.invalid }"
        />
      </td>
    </tr>
    <tr mat-row>
      <th>Datum rodjenja:</th>
      <td>{{ korisnik.datumRodjenja | date }}</td>
    </tr>
    <tr mat-row>
      <th>JMBG:</th>
      <td>{{ korisnik.jmbg }}</td>
    </tr>
    <tr mat-row>
      <th>Email:</th>
      <td>
        <input
          type="text"
          name="email"
          #email="ngModel"
          [(ngModel)]="korisnik.email"
          [ngClass]="{ invalid: email.invalid }"
        />
      </td>
    </tr>
    <tr mat-row>
      <th>Korisničko ime:</th>
      <td>{{ korisnik.korisnickoIme }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_STUDENT']) | async">
      <th>Broj indeksa:</th>
      <td>{{ studentNaStudiji.brojIndeksa }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_STUDENT']) | async">
      <th>Datum upisa:</th>
      <td>{{ studentNaStudiji.datumUpisa | date }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async">
      <th>Biografija:</th>
      <td>{{ nastavnik.biografija }}</td>
    </tr>
    <tr mat-row *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async">
      <th>Titula:</th>
      <td>{{ titula }}</td>
    </tr>
  </table>
  <div fxLayout="row" fxLayoutAlign="end end" fxFlex="10%">
    <div fxLayoutGap="25px">
      <button mat-raised-button (click)="sacuvaj()">Sacuvaj izmene</button>
      <button mat-raised-button (click)="izmeni()">Odustani</button>
    </div>
  </div>
</div>
