<style>
    mat-sidenav-container, mat-sidenav, mat-sidenav-content {
        height: 100vh;
    }

    mat-sidenav {
        /* min-width: 30vw; */
        opacity: .8;
    }

    .white-color {
        background-color: white;
        opacity: .8;
        box-shadow: 2px 2px 5px black;
    }

    mat-list-item {
        cursor: pointer;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1vh;
        z-index: 1;
    }

    .margin-top-bottom-1 {
        margin: 1vh 0;
    }

</style>


<section
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2vh">
        <button type="button" *ngIf="!this.showRezultatiEvaluacije" mat-button (click)="this.showRezultatiEvaluacije = true">eksport rezultata evaluacije</button>
        <app-rezultati-evaluacije *ngIf="this.showRezultatiEvaluacije" (onDone)="this.showRezultatiEvaluacije = false"></app-rezultati-evaluacije>

        <button type="button" *ngIf="!this.showStudenti" mat-button (click)="this.showStudenti = true">eksport podataka o studentima</button>
        <app-studenti *ngIf="this.showStudenti" (onDone)="this.showStudenti = false"></app-studenti>

        <button type="button" *ngIf="!this.showNastavnici" mat-button (click)="this.showNastavnici = true">eksport podataka o nastavnicima</button>
        <app-nastavnici *ngIf="this.showNastavnici" (onDone)="this.showNastavnici = false"></app-nastavnici>

</section>