<style>
    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        cursor: default;
    }

    mat-list {
        max-width: 60vw;
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 6vh 0 1vh 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 2vh;
    }

    .margin-top-bottom { 
        margin: 2vh 0;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 2vw;
        width: 50vw;
    }

    .section {
        border-radius: 5px;
        background-color: white;
        opacity: .85;
        margin: 1vh 0;
        padding: 2vw;
        cursor: default;
        min-width: 60vw;
    }

    mat-tab-group {
        width: 100vw;
        background-color: white;
        opacity: .8;
    }

    .padding {
        padding: 2vw;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .cursor-default {
        cursor: default;
    }

    div {
        cursor: default;
    }

    .example-card {
        max-width: 70vw;
    }

    .example-header-image {
        background-image: url('https://img.icons8.com/plasticine/2x/school.png');
        background-size: cover;
    }

</style>

<section class="bg-section">
    <img [src]="'images/login.png' | assetUrl">
</section>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    class="margin-top-bottom"
    *ngIf="this.predmet, else nemaPredmeta">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{this.predmet.getNaziv()}}</mat-card-title>
                <mat-card-subtitle>espb: {{this.predmet.getEspb()}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="knjige">
            <mat-card-content>
                <h3>Silabus</h3>
                <h4>naslov:</h4>
                <p class="ellipsis">{{this.predmet.getSilabus().getNaslov()}}</p>
                <h4>opis:</h4>
                <p>{{this.predmet.getSilabus().getOpis()}}</p>
                <mat-accordion *ngIf="this.realizacijaPredmeta">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                realizacije predmeta
                            </mat-panel-title>
                            <mat-panel-description>
                                vise o realizaciji
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <h4>ciljevi realizacije predmeta:</h4>
                        <section *ngIf="this.realizacijaPredmeta.getObrazovniCiljevi().length > 0">                            
                            <p *ngFor="let obrazovniCilj of this.realizacijaPredmeta.getObrazovniCiljevi()">{{obrazovniCilj.getOpis()}}</p>
                        </section>
                        <p *ngIf="!(this.realizacijaPredmeta.getObrazovniCiljevi().length > 0)">realizacija predmet nema obrazovnih ciljeva</p>
                        <button type="button" mat-raised-button (click)="this.onGoToRealizaicijaPredmeta(this.predmet.getId())">vidi vise</button>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" mat-button (click)="this.onGoBack()">prethodna stranica</button>
            </mat-card-actions>
        </mat-card>
</section>

<ng-template #nemaPredmeta>
    <h5>Podaci o predmetu nisu pronadjeni</h5>
</ng-template>