<style>

    video {
        border-radius: 5px;
    }

    section {
        /* background-color: violet;
        border: 1px solid black; */
    }

    .section {
        background-color: white;
        border-radius: 5px;
        opacity: .8;
        margin: 2vh 2vw 5vh 2vw;
        padding: 2vh;
    }

    .section-top{
        width: 80vw;
        background-color: white;
        border-radius: 5px;
        opacity: .8;
        margin: 2vh 2vw 5vh 2vw;
        padding: 2vh;
        position: absolute;
        top: 0;
        left: 10vw
    }

    .mat-list-item {
        background-color: white;
        border-radius: 5px;
        margin: 2px 0;
        opacity: .8;
    }

</style>

<section class="bg-section">
    <img [src]="'images/fakultet.png' | assetUrl">
</section>

<section
    fxLayout
    fxLayoutAlign="center start"
    style="margin-top: 15vh;">

        <section style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
            <video
                [hidden]="!videoEl.srcObject"
                #videoEl
                autoplay
                playsinline 
                [controls]="false"
                style="max-width: 20vw; max-height: 20vh;"></video>
        </section>

        <section 
            style="width: 100%; height: 100%;" 
            fxLayout="column"
            fxLayoutAlign="start center"
            fxLayoutGap="1vh">

                <mat-list role="list" fxFlex style="width: 100%;" *ngIf="this.connectionEstablished">
                    <section class="mat-list-item" *ngFor="let msg of this.receivedMessages" fxLayout fxLayoutAlign="start center">
                        <section appRemoveIfUsernameDifferent [username]="msg.split(':')[0]" fxFlex></section>
                        <section style="margin: 0 1vw;">{{msg}}</section>
                    </section>
                </mat-list>

                <section
                    class="section"
                    *ngIf="this.connectionEstablished"
                    fxLayout="column"
                    fxLayoutAlign="start center"
                    fxLayoutGap="1vh">

                        <mat-form-field class="example-full-width">
                            <mat-label>Vasa poruka:</mat-label>
                            <textarea matInput #textAreaMsg></textarea>
                        </mat-form-field>
                        <button 
                            type="button"
                            mat-button
                            (click)="this.onSendMessage(textAreaMsg)">Posalji poruku</button>
                </section>
        </section>

        <section style="width: 100%;">
            <section 
                *ngIf="this.receivedRemoteMediaStreams.length > 0"
                fxLayout="column" fxLayoutAlign="center center">
                    <section *ngFor="let remoteVideoStream of this.receivedRemoteMediaStreams"
                    fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1vh">
                        <video 
                            [srcObject]="remoteVideoStream"
                            autoplay
                            playsinline 
                            [controls]="false"
                            style="max-width: 25vw; max-height: 25vh;"></video>
                        <button 
                            type="button"
                            mat-icon-button
                            style="background-color: white;"
                            (click)="this.onCloseRemoteMediaStream(remoteVideoStream)"><mat-icon>close</mat-icon></button>
                    </section>
            </section>
        </section>

</section>

<section class="section-top" fxLayout fxLayoutAlign="center center" fxLayoutGap="1vw">

    <button 
        *ngIf="this.connectionEstablished && !this.isCameraOn"
        type="button"
        mat-raised-button
        (click)="this.onCameraOn(videoEl)">ukljuci kameru</button>

    <button 
        *ngIf="this.isCameraOn"
        type="button"
        mat-raised-button
        (click)="this.onCameraOff(videoEl)">iskljuci kameru</button>

    <button 
        *ngIf="!this.connectionEstablished"
        type="button"
        mat-raised-button
        (click)="this.onCreateAndSendOffer()">konektuj se</button>

    <button 
        *ngIf="this.connectionEstablished"
        type="button"
        mat-raised-button
        (click)="this.onDisconnectPeers()">diskonektuj se</button>

    <button 
        type="button"
        mat-raised-button
        (click)="this.onLogout()">logout</button>
</section>