<style>


</style>

<section>
    <p>viewing works!</p>

    <video
        #filmic
        autoplay
        playsinline 
        [controls]="false"></video>

    <button type="button" [routerLink]="['/mf_6/streaming']" mat-button>streaming</button>
</section>