<style>
    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        cursor: default;
    }

    mat-list {
        max-width: 60vw;
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 6vh 0 1vh 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 2vh;
    }

    .margin-top-bottom { 
        margin: 2vh 0;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 2vw;
        width: 50vw;
    }

    .section {
        border-radius: 5px;
        background-color: white;
        opacity: .85;
        margin: 1vh 0;
        padding: 2vw;
        cursor: default;
        min-width: 60vw;
    }

    mat-tab-group {
        width: 100vw;
        background-color: white;
        opacity: .8;
    }

    .padding {
        padding: 2vw;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .cursor-default {
        cursor: default;
    }

    div {
        cursor: default;
    }

    .example-card {
        max-width: 70vw;
    }

    .example-header-image {
        background-image: url('https://img.icons8.com/plasticine/2x/school.png');
        background-size: cover;
    }

    .example-action-buttons {
        padding-bottom: 20px;
    }

    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    .example-headers-align .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }

    h4 {
        max-width: 200px;
    }

    img {
        border-radius: 5px;
    }

</style>

<section class="bg-section">
    <img [src]="'images/login.png' | assetUrl">
</section>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    class="margin-top-bottom"
    *ngIf="this.realizacijaPredmeta, else nemaRealizacijePredmeta">

    <section
        class="section"
        *ngIf="this.waitingRequests === 0, else loading">
            <h4>Nastavnici na realizaciji:</h4>
            <section 
                *ngIf="this.nastavniciNaRealizaciji?.length > 0"
                fxLayout="column">
                    <section *ngFor="let nnr of this.nastavniciNaRealizaciji">
                        <p *ngIf="nnr.getNastavnik()?.getRegistrovaniKorisnik(), else loading">{{nnr.getNastavnik()?.getRegistrovaniKorisnik()?.getIme()}} {{nnr.getNastavnik()?.getRegistrovaniKorisnik()?.getPrezime()}} - {{ nnr.getZvanje().replaceAll("_", " ").toLowerCase() }}</p>
                    </section>
            </section>
            <h4 *ngIf="!(this.nastavniciNaRealizaciji?.length > 0)">Realizacija predmeta nema nastavnike na realizaciji</h4>

            <h4>Ishodi: </h4>          
            <mat-accordion class="example-headers-align" multi *ngIf="this.realizacijaPredmeta.getIshodi().length > 0">
                <mat-expansion-panel *ngFor="let ishod of this.realizacijaPredmeta.getIshodi()">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="ellipsis">
                            {{ishod.getNaslov()}}
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                      <mat-icon>line_weight</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <section>
                      <h4>opis:</h4>
                      <p>{{ishod.getOpis()}}</p>
                      <img *ngIf="ishod.getPutanjaZaSliku()" [src]="ishod.getPutanjaZaSliku()" alt="slika ishoda" width="150">
                  </section>

                  <section>
                    <h4>nastavni materijali:</h4>
                    <section
                        class="section"
                        fxLayout="column"
                        *ngFor="let nm of ishod.getNastavniMaterijali()">
                            <p>naziv: {{nm.getNaziv()}}, datum: {{nm.getDatum().toLocaleString()}}</p>
                            <mat-list>
                                <div mat-subheader>Fajlovi</div>
                                <mat-list-item *ngFor="let fajl of nm.getFajlovi()">
                                    <mat-icon class="cursor-pointer" (click)="this.onDownloadFajl(fajl)" mat-list-icon>cloud_download</mat-icon>
                                    <div mat-line>{{fajl.getNaziv()}}</div>
                                    <div mat-line> {{fajl.getOpis()}} </div>
                                    <section *ngIf="nm.getAutoriNastavniMaterijal().length > 0">
                                        <div mat-line *ngFor="let anm of nm.getAutoriNastavniMaterijal()"> {{ anm.getAutor() ? anm.getAutor()?.getIme()  + " " + anm.getAutor()?.getPrezime() : 'nema autora'}} </div>
                                    </section>
                                    <div mat-line> nema autora </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                    </section>
                  </section>
              
                </mat-expansion-panel>
            </mat-accordion>
            <h4 *ngIf="!(this.realizacijaPredmeta.getIshodi().length > 0)">Realizacija predmeta nema ishode</h4>
            <button class="margin-top-bottom" type="button" mat-button (click)="this.onGoBack()">prethodna stranica</button>
    </section>

</section>

<ng-template #loading>
    <!-- <section
        class="progress-spinner">
            <mat-spinner diameter="50"></mat-spinner>
    </section> -->
    <mat-progress-bar 
        class="progress-bar"
        mode="buffer"></mat-progress-bar>
</ng-template>

<ng-template #nemaRealizacijePredmeta>
    <h5>Podaci o realizaciji predmeta nisu pronadjeni</h5>
</ng-template>