<mat-selection-list #shoes [multiple]="false">
  <mat-list-option class="nav-link" routerLink="/mf_3/home/uredjivanjeProfila">
    Uredjivanje profila
  </mat-list-option>
  <mat-list-option
    *ngIf="checkRoles(['ROLE_STUDENT']) | async"
    routerLink="/mf_3/home/predmeti"
  >
    Podaci o predmetima
  </mat-list-option>
  <mat-list-option
    *ngIf="checkRoles(['ROLE_STUDENT']) | async"
    routerLink="/mf_3/home/obavestenja"
  >
    Obaveštenja
  </mat-list-option>
  <mat-list-option
    *ngIf="checkRoles(['ROLE_STUDENT']) | async"
    routerLink="/mf_3/home/istorija"
  >
    Istorija studiranja
  </mat-list-option>
  <mat-list-option
    *ngIf="checkRoles(['ROLE_STUDENT']) | async"
    routerLink="/mf_3/home/prijavaIspita"
  >
    Prijava ispita
  </mat-list-option>
  <mat-list-option
    *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async"
    routerLink="/mf_3/home/predmetiNastavnik"
  >
    Pregled predmeta
  </mat-list-option>
  <!-- <mat-list-option *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async">
    Obaveštenja
  </mat-list-option> -->
  <mat-list-option
    *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async"
    routerLink="/mf_3/home/studenti"
  >
    Pregled studenata
  </mat-list-option>
  <mat-list-option *ngIf="checkRoles(['ROLE_NASTAVNIK']) | async">
    Ispiti
  </mat-list-option>
</mat-selection-list>
