<style>

    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
    }

    mat-list {
        max-width: 60vw;
        cursor: pointer;    
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 5vh;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 2vw;
        width: 50vw;
    }

    lib-my-angular-table {
        margin: 2px 0;
        background-color: white;
        opacity: .8;
        border-radius: 5px;
    }

</style>

<section class="bg-section">
    <img [src]="'images/fakultet.png' | assetUrl">
</section>

<section
    class="margin-top"
    fxLayout="column"
    fxLayoutAlign="center center">

    <section class="header" fxLayout fxLayoutAlign="center center">
        <div fxFlex></div>
        <h3>Univerziteti</h3>
        <div fxFlex></div>
        <img style="margin-right: 1vw; cursor: pointer;" src="https://img.icons8.com/dotty/2x/student-registration.png" alt="reg studenta" width="30" height="30" title="postani student" (click)="this.onGoToStudentRegistracija()">
        <img style="margin-right: 1vw; cursor: pointer;" src="https://img.icons8.com/dotty/2x/edit-user-male.png" alt="reg studenta" width="30" height="30" title="postani registrovani korisnik" (click)="this.onGoToRegistrovaniKorisnikRegistracija()">
        <img style="margin-right: 1vw; cursor: pointer;" src="https://img.icons8.com/cotton/2x/login-rounded-right--v2.png" alt="login" width="30" height="30" title="login" (click)="this.onGoToLogin()">
    </section>

    <!-- <mat-list *ngIf="this.univerziteti, else loading">
        <mat-list-item *ngFor="let univerzitet of this.univerziteti" [routerLink]="[univerzitet.getId().toString()]">
            <span class="ellipsis">{{univerzitet.getNaziv()}}</span>
        </mat-list-item>
    </mat-list> -->

    <lib-my-angular-table 
        *ngIf="this.table && this.univerziteti, else loading"
        [table]="this.table"
        [perPage]="20">

    </lib-my-angular-table>

    <ng-template #loading>
        <!-- <section
            class="progress-spinner">
                <mat-spinner diameter="50"></mat-spinner>
        </section> -->
        <mat-progress-bar 
            class="progress-bar"
            mode="buffer"></mat-progress-bar>
    </ng-template>

    <section class="bottom-section"></section>

</section>