<style>
    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        cursor: default;
    }

    mat-list {
        max-width: 60vw;
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 6vh 0 1vh 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 2vh;
    }

    .margin-top-bottom { 
        margin: 2vh 0;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 2vw;
        width: 50vw;
    }

    .section {
        border-radius: 5px;
        background-color: white;
        opacity: .85;
        margin: 1vh 0;
        padding: 2vw;
        cursor: default;
        min-width: 60vw;
    }

    mat-tab-group {
        width: 100vw;
        background-color: white;
        opacity: .8;
    }

    .padding {
        padding: 2vw;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    div {
        cursor: default;
    }

</style>

<section class="bg-section">
    <img [src]="'images/login.png' | assetUrl">
</section>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="this.studijskiProgram, else nemaStudijskogPrograma">

        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="O studijskom programu">
                <section fxLayout="column" fxLayoutAlign="start center">
                    <h4>{{this.studijskiProgram.getNaziv()}}</h4>
                    <p class="padding">O studijskom programu: <br><br>{{this.studijskiProgram.getOpis()}}</p>
                    <p class="padding">Broj godina studija: {{this.studijskiProgram.getBrojGodinaStudija()}}</p>
                    <hr style="width: 50vw;">
                    <button style="margin: 2vh 0;" mat-raised-button (click)="this.onGoBack()">prethodna stranica</button>
                </section>
            </mat-tab>

            <mat-tab label="Godine studija i predmeti"
                *ngIf="this.godineStudija, else nemaGodinaStudija">
                    <h4 *ngIf="!(this.godineStudija.length > 0)">Godine studija ne postoje za odabrani studijski program</h4>
                    <section *ngIf="this.godineStudija.length > 0" fxLayout="column" fxLayoutAlign="start center">
                        <mat-list *ngFor="let godinaStudija of this.godineStudija">
                            <div mat-subheader>{{godinaStudija.getGodina().toLocaleString().split(',')[0].split('/')[2]}} | semestar: {{godinaStudija.getSemestar().toLowerCase()}} | predmeti:</div>
                            <section *ngIf="godinaStudija.getPredmeti().length > 0">
                                <section fxLayoutAlign="center center" fxLayoutGap="1vh" *ngFor="let predmet of godinaStudija.getPredmeti()" class="cursor-pointer margin-top-bottom">
                                    <img src="https://img.icons8.com/plasticine/2x/school.png" width="25" alt="">
                                    <div class="cursor-pointer">{{predmet.getNaziv()}}</div>
                                    <button mat-raised-button type="button" (click)="this.onGoToPredmet(predmet.getId())">o predmetu</button>
                                </section>
                            </section>
                            <div mat-subheader *ngIf="!(godinaStudija.getPredmeti().length > 0)">Nema predmeta</div>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </section>
            </mat-tab>

            <mat-tab label="O rukovodiocu smera">
                <section
                class="section"
                *ngIf="this.studijskiProgram.getRukovodilac() && this.rukovodiocSmera, else nemaRukovodiocaSmera">
                    <h4>{{this.rukovodiocSmera?.getRegistrovaniKorisnik().getIme()}} {{this.rukovodiocSmera?.getRegistrovaniKorisnik().getPrezime()}}</h4>
                    <p>{{this.rukovodiocSmera?.getBiografija()}}</p>
            </section>
            </mat-tab>
        </mat-tab-group>
</section>

<ng-template #nemaStudijskogPrograma>
    <h5>Podaci o studijskom programu nisu pronadjeni</h5>
</ng-template>

<ng-template #nemaRukovodiocaSmera>
    <h5>Podaci o rukovodiocu smera nisu pronadjeni</h5>
</ng-template>

<ng-template #nemaGodinaStudija>
    <h5>Podaci o godinama studija nisu pronadjeni</h5>
</ng-template>