<style>
    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        cursor: default;
    }

    mat-list {
        max-width: 60vw;
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 6vh 0 1vh 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 2vh;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 2vw;
        width: 50vw;
    }

    .section {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 1vh 0;
        padding: 2vw;
        cursor: default;
        min-width: 60vw;
    }

    mat-tab-group {
        width: 100vw;
        background-color: white;
        opacity: .8;
    }

    .padding {
        padding: 2vw;
    }

    .cursor-pointer {
        cursor: pointer;
    }

</style>

<section class="bg-section">
    <img [src]="'images/fakultet.png' | assetUrl">
</section>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="this.univerzitet, else nemaUniverziteta">

        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="O univerzitetu">
                <section fxLayout="column" fxLayoutAlign="start center">
                    <h4>{{this.univerzitet.getNaziv()}}</h4>
                    <section fxLayoutAlign="center center" fxLayoutGap="1vw">
                        <p>Datum osnivanja: {{this.univerzitet.getDatumOsnivanja().toLocaleString().split(',')[0]}}</p>
                        <img src="https://img.icons8.com/dusk/2x/date-to.png" width="25" alt="">
                    </section>
                    <p class="padding">O univerzitetu: <br><br>{{this.univerzitet.getOpis()}}</p>
                    <hr style="width: 50vw;">
                    <button style="margin: 2vh 0;" mat-raised-button (click)="this.onGoBack()">univerziteti</button>
                </section>
            </mat-tab>

            <mat-tab label="Fakulteti">
                <lib-my-angular-table
                    *ngIf="this.univerzitet.getFakulteti().length > 0 && this.table, else nemaFakulteta"
                    [table]="this.table"
                    [perPage]="5">
                </lib-my-angular-table>
            </mat-tab>

            <mat-tab label="Kontakt">                    
                <section
                    fxLayout="column"
                    fxLayoutAlign="start center">

                        <section class="header">
                            <h4>Adrese</h4>
                        </section>
                        <mat-list *ngIf="this.univerzitet.getAdrese().length > 0, else nemaAdresa">
                            <mat-list-item *ngFor="let adresa of this.univerzitet.getAdrese()" (click)="this.showFull(adresa.getUlica() + ' - ' + adresa.getBroj())">
                                <span matLine class="ellipsis">Ulica: {{adresa.getUlica()}}</span>
                                <span matLine class="ellipsis">Broj: {{ adresa.getBroj() }}</span>
                            </mat-list-item>
                        </mat-list>
    
                        
                        <section class="header">
                            <h4>Kontakti</h4>
                        </section>

                        <mat-list *ngIf="this.univerzitet.getKontakti().length > 0, else nemaKontakata">
                            <mat-list-item *ngFor="let kontakt of this.univerzitet.getKontakti()">
                                <span matLine class="ellipsis">Fiksni: {{kontakt.getFiksni()}}</span>
                                <span matLine class="ellipsis">Mobilni: {{ kontakt.getMobilni() }}</span>
                            </mat-list-item>
                        </mat-list>
                </section>
            </mat-tab>

            <mat-tab label="O rektoru">        
                <section
                    class="section"
                    *ngIf="this.univerzitet.getRektor() && this.rektor, else nemaRektora">
                        <h4>{{this.rektor?.getRegistrovaniKorisnik().getIme()}} {{this.rektor?.getRegistrovaniKorisnik().getPrezime()}}</h4>
                        <h5>Biografija</h5>
                        <p>{{this.rektor?.getBiografija()}}</p>
                </section>
            </mat-tab>
        </mat-tab-group>

</section>

<ng-template #nemaAdresa>
    <h5>Univerzitet nema adresu</h5>
</ng-template>

<ng-template #nemaKontakata>
    <h5>Univerzitet nema kontakte</h5>
</ng-template>

<ng-template #nemaRektora>
    <h5>Univerzitet nema rektora</h5>
</ng-template>

<ng-template #nemaFakulteta>
    <h5>Podaci o fakultetima nisu pronadjeni</h5>
</ng-template>

<ng-template #nemaUniverziteta>
    <h5>Podaci o univerzitetu nisu pronadjeni</h5>
</ng-template>