<div fxFlexFill fxLayout fxLayoutAlign="start strech">
  <mat-card
    class="margin"
    fxLayout="column"
    fxLayoutAlign="start strech"
    fxLayoutGap="10px"
    style="height: fit-content;"
  >
    <div fxFlex="10%" fxLayout fxLayoutAlign="start strech">
      <div class="korisnikImeTekst" fxFlex="90%">
        <div>Korisnik: {{ korisnik.ime }} {{ korisnik.prezime }}</div>
        <div>{{ role }}</div>
      </div>
      <button
        (click)="logout()"
        fxFlex="10%"
        mat-flat-button
        color="primary"
        style="width: fit-content;"
      >
        Logout
      </button>
    </div>
    <div fxFlex="90%">
      <div fxLayout fxLayoutAlign="start strech" fxLayoutGap="5px">
        <app-menu fxFlex="25%"></app-menu>
        <div fxFlex="75%">
          <div style="height: fit-content;">
            <router-outlet> </router-outlet>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
