<div
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="25px"
  fxFlexFill
>
  <table
    style="text-align: center;"
    mat-table
    class="mat-elevation-z8"
    fxFlex="70%"
  >
    <tr>
      <th colspan="5"><h3>Podaci o predmetima</h3></th>
    </tr>
    <tr>
      <th>R. br</th>
      <th>Naziv predmeta</th>
      <th>Semestar</th>
      <th>Predavanja</th>
      <th>Vežbe</th>
      <th>ESPB</th>
    </tr>
    <tr
      *ngFor="let predmet of this.predmeti; index as i"
      (click)="silabusPrikaz(predmet)"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ predmet.naziv }}</td>
      <td>{{ predmet.godinaStudijaDTO.semestar }}</td>
      <td>{{ predmet.brojPredavanja }}</td>
      <td>{{ predmet.brojVezbi }}</td>
      <td>{{ predmet.espb }}</td>
    </tr>
  </table>
  <div fxLayout="column" fxFlex="30%" *ngIf="aktivniPredmet">
    <div fxLayout fxLayoutAlign="space-between center">
      <h1 fxFlex="20%">{{ aktivniPredmet.naziv }}</h1>
      <button fxFlex="10%" (click)="aktivniPredmet = null">X</button>
    </div>
    <p>
      {{ aktivniPredmet.silabusDTO.opis }}
    </p>
  </div>
</div>
