<style>
    mat-sidenav-container, mat-sidenav, mat-sidenav-content {
        height: 100vh;
    }

    mat-sidenav {
        /* min-width: 30vw; */
        opacity: .8;
    }

    .white-color {
        background-color: white;
        opacity: .8;
        box-shadow: 2px 2px 5px black;
    }

    mat-list-item {
        cursor: pointer;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1vh;
        z-index: 1;
    }

    .section-form {
        margin: 2vh 6vw;
        background-color: white;
        border-radius: 5px;
        opacity: .8;
        min-width: 50vw;
        min-height: 30vh;
    }

    .margin-top-bottom-1 {
        margin: 1vh 0;
    }

</style>

<mat-sidenav-container>
    <!-- 
        mat-sidenav-container treba da sadrzi:
        mat-sidenav i mat-sidenav-content nemoj ih 'obmotavati'
        drugim komponentama(svojim) pa ih onda ovde inicijalizovati!

        izgleda da po dokumentaciji mat-sidenav-container ocekuje da
        ima direktnu decu (mat-sidenav i mat-sidenav-content), a ne
        'wrapper-e' koji ih sadrze
     -->

    <!-- navigacija koja je uglavnom na vrhu stranice -->
    <!-- atribut role="navigation" se stavlja zbog dostupnosti navigacije -->
    <mat-sidenav
        role="navigation"
        #sidenav
        [mode]="'push'">
        <mat-list role="list">
            <div mat-subheader>Entiteti</div>
            <mat-list-item role="listitem" (click)="this.data = undefined">pocetna</mat-list-item>
            <mat-divider></mat-divider>
            <section *ngFor="let sidenavListItem of this.sidenavList" appRemove [reqRoles]="sidenavListItem.reqRoles">
                <mat-list-item role="listitem" (click)="this.sidenavListItemSelected(sidenavListItem)">{{sidenavListItem.text.replaceAll("_", " ")}}</mat-list-item>
                <mat-divider></mat-divider>
            </section>
        </mat-list>
    </mat-sidenav>
    
    <mat-sidenav-content fullscreen>
        
        <main>

            <section class="bg-section">
                <img [src]="'images/fakultet.png' | assetUrl">
            </section>

            <section
                class="sticky"
                fxLayout>
                    <button style="margin: 1vh 1vw;" class="white-color" mat-icon-button (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <div fxFlex></div>
                    <button style="margin: 1vh 1vw;" class="white-color" mat-raised-button (click)="this.onLogout()">Logout</button>
            </section>

            <section
                class="section-form"
                *ngIf="!this.data && this.ulogovaniRegistrovaniKorisnik"
                fxLayout="column"
                fxLayoutAlign="center center"
                fxLayoutGap="1vh">
                    <h4>{{this.ulogovaniRegistrovaniKorisnik.getIme() + " " + this.ulogovaniRegistrovaniKorisnik.getPrezime()}}</h4>
                    <hr style="width: 90%;">
                    <section style="width: 90%;">
                         - korisnicko ime: {{this.ulogovaniRegistrovaniKorisnik.getKorisnickoIme()}}<br><br>
                         - email: {{this.ulogovaniRegistrovaniKorisnik.getEmail()}}<br><br>
                         - datum rodjenja: {{this.ulogovaniRegistrovaniKorisnik.getDatumRodjenja().toLocaleDateString()}}<br><br>
                    </section>

                    <button class="margin-top-bottom-1" type="button" mat-raised-button (click)="this.showExportPodataka = !this.showExportPodataka">{{this.showExportPodataka ? "ukloni mogucnost za eksport podataka" : "eksportuj podatke"}}</button>
                    <app-export-podataka class="margin-top-bottom-1" appRemove [reqRoles]="['ROLE_STUDENTSKI_SLUZBENIK', 'ROLE_ADMINISTRATOR']" *ngIf="this.showExportPodataka"></app-export-podataka>
            </section>

            <app-administracija *ngIf="this.data" [data]="this.data"></app-administracija>
            
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>