<style>
    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        cursor: default;
    }

    mat-list {
        max-width: 60vw;
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 6vh 0 1vh 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 2vh;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 2vw;
        width: 50vw;
    }

    .section {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 1vh 0;
        padding: 2vw;
        cursor: default;
        min-width: 60vw;
    }

    mat-tab-group {
        width: 100vw;
        background-color: white;
        opacity: .8;
    }

    .padding {
        padding: 2vw;
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>

<section class="bg-section">
    <img [src]="'images/fakultet.png' | assetUrl">
</section>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="this.fakultet, else nemaFakulteta">

        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="O fakultetu">
                <section fxLayout="column" fxLayoutAlign="start center">
                    <h4>{{this.fakultet.getNaziv()}}</h4>
                    <p class="padding">O fakultetu: <br><br>{{this.fakultet.getOpis()}}</p>
                    <hr style="width: 50vw;">
                    <button style="margin: 2vh 0;" mat-raised-button (click)="this.onGoBack()">prethodna stranica</button>
                </section>
            </mat-tab>

            <mat-tab label="Studijski programi">
                <section
                    fxLayout="column"
                    fxLayoutAlign="start center"
                    *ngIf="this.fakultet.getStudijskiProgrami()?.length > 0, else nemaStudijskihPrograma">
                        <mat-list *ngIf="this.fakultet.getStudijskiProgrami().length > 0">
                            <mat-list-item 
                                appModelObrisan
                                [stanjeModela]="studijskiProgram.getStanje()"
                                *ngFor="let studijskiProgram of this.fakultet.getStudijskiProgrami()"
                                class="cursor-pointer"
                                (click)="this.onGoToStudijskiProgram(studijskiProgram.getId())">    
                                    <section fxLayoutAlign="center center" fxLayoutGap="2vw">
                                        <img src="https://img.icons8.com/dusk/2x/student-center.png" width="30" alt="">
                                        <div>{{studijskiProgram.getNaziv()}}</div>
                                    </section> 
                            </mat-list-item>
                        </mat-list>
                </section>
            </mat-tab>

            <mat-tab label="Kontakt">
                <section
                    fxLayout="column"
                    fxLayoutAlign="start center">

                        <section class="header">
                            <h4>Odeljenja</h4>
                        </section>
                        <mat-list *ngIf="this.odeljenja && this.odeljenja.length > 0, else nemaOdeljenja">
                            <mat-list-item 
                                *ngFor="let odeljenje of this.odeljenja">
                                    <span matLine class="ellipsis">Tip odeljenja: {{odeljenje.getTip().toString()}}</span>
                                    <span matLine class="ellipsis">Ulica: {{odeljenje.getAdresa().getUlica()}}</span>
                                    <span matLine class="ellipsis">Broj: {{ odeljenje.getAdresa().getBroj() }}</span>
                            </mat-list-item>
                        </mat-list>
                        
                        <section class="header">
                            <h4>Kontakti</h4>
                        </section>

                        <mat-list *ngIf="this.fakultet.getKontakti().length > 0, else nemaKontakata">
                            <mat-list-item *ngFor="let kontakt of this.fakultet.getKontakti()">
                                <span matLine class="ellipsis">Fiksni: {{kontakt.getFiksni()}}</span>
                                <span matLine class="ellipsis">Mobilni: {{ kontakt.getMobilni() }}</span>
                            </mat-list-item>
                        </mat-list>
                </section>
            </mat-tab>

            <mat-tab label="O dekanu">
                <section
                    class="section"
                    *ngIf="this.fakultet.getDekan() && this.dekan, else nemaDekana">
                        <h4>{{this.dekan?.getRegistrovaniKorisnik().getIme()}} {{this.dekan?.getRegistrovaniKorisnik().getPrezime()}}</h4>
                        <h5>Biografija</h5>
                        <p>{{this.dekan?.getBiografija()}}</p>
                </section>
            </mat-tab>
        </mat-tab-group>
</section>

<ng-template #nemaAdresa>
    <h5>Fakultet nema adresu</h5>
</ng-template>

<ng-template #nemaOdeljenja>
    <h5>Fakultet nema odeljenja</h5>
</ng-template>

<ng-template #nemaKontakata>
    <h5>Fakultet nema kontakte</h5>
</ng-template>

<ng-template #nemaDekana>
    <h5>Fakultet nema dekana</h5>
</ng-template>

<ng-template #nemaFakulteta>
    <h5>Podaci o fakultetu nisu pronadjeni</h5>
</ng-template>

<ng-template #nemaStudijskihPrograma>
    <h5>Podaci o studijskim programima nisu pronadjeni</h5>
</ng-template>