<style>

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .full-height {
        height: 100vh;
    }

</style>

<section class="bg-section">
    <img [src]="'images/fakultet.png' | assetUrl">
</section>

<section 
    fxLayout="column"
    fxLayoutAlign="start center"
    class="full-height">

        <section  
            style="margin-top: 20vh;"  
            class="header"
            fxLayout="column"
            fxLayoutAlign="center center">

                <section
                    fxLayout
                    fxLayoutAlign="center center"
                    fxLayoutGap="1vw">
                        <img src="https://img.icons8.com/cotton/2x/login-rounded-right--v2.png" alt="login" width="30vw">
                        <h4>Ulogujte se</h4>
                </section>
                
                <lib-my-angular-form
                    *ngIf="this.form"
                    [form]="this.form"
                    (onSubmit)="this.onSubmit($event)"
                    (onCancel)="this.onCancel()"></lib-my-angular-form>

                <button style="margin: 1vh 0;" type="button" (click)="this.onGoToUniverziteti()" mat-raised-button>univerziteti</button>
        </section>

</section>