<style>

</style>

<section
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="1vh">

    <h4>{{this.sanduce.naziv}}</h4>

    <video
        #filmic
        autoplay
        playsinline 
        [controls]="false"></video>

    <section
        *ngIf="this.isAccepted"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="1vh">            

            <button mat-button (click)="this.onCallEnd()">prekini poziv</button>

    </section>

    <section
        *ngIf="!this.isAccepted"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="1vw">

            <button mat-button (click)="this.onAcceptIncomingCall(filmic)">prihvati dolazeci poziv</button>
            <button mat-button (click)="this.onDeclineIncomingCall()">odbaci dolazeci poziv</button>
    </section>

</section>

