<section class="bg-section">
  <img [src]="'images/fakultet.png' | assetUrl" />
</section>
<div
  fxFlexFill
  fxLayout="column"
  fxLayoutAlign="center center"
  class="login-component"
>
  <div class="pozadina">
    <div class="naslov" fxLayoutAlign="center center" fxLayoutGap="10%">
      <mat-card-title> <h3>Dobrodosli na prijavu</h3></mat-card-title>
    </div>

    <div *ngIf="!this.izmenaLozinke">
      <form (ngSubmit)="login()" fxLayout="column">
        <legend>Login</legend>
        <mat-form-field>
          <mat-label>Korisnicko ime</mat-label>
          <textarea
            name="korisnikLogin.korisnickoIme"
            [(ngModel)]="korisnikLogin.korisnickoIme"
            matInput
            placeholder="Upisite Vase korisnicko ime"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            [(ngModel)]="korisnikLogin.lozinka"
            name="korisnikLogin.lozinka"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <p id="link" (click)="this.izmenaLozinke = !this.izmenaLozinke">
            Zaboravili ste lozinku?
          </p>
        </div>
        <div>
          <mat-card-actions fxLayoutAlign="center center">
            <button type="submit" mat-button color="primary">
              LOGIN
            </button>
          </mat-card-actions>
        </div>
      </form>
    </div>

    <div *ngIf="this.izmenaLozinke">
      <form (ngSubmit)="promenaLozinke()" fxLayout="column">
        <legend>Promena lozinke</legend>
        <mat-form-field>
          <mat-label>Unesite Vase korisnicko ime</mat-label>
          <textarea
            name="korisnikLogin.korisnickoIme"
            [(ngModel)]="korisnikIzmenaLozinke.korisnickoIme"
            matInput
            placeholder="Upisite Vase korisnicko ime"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Unesite Vas email</mat-label>
          <textarea
            name="korisnikLogin.korisnickoIme"
            [(ngModel)]="korisnikIzmenaLozinke.email"
            matInput
            placeholder="Upisite Vas email"
          ></textarea>
        </mat-form-field>
        <div>
          <mat-card-actions>
            <button type="submit" mat-button color="primary">
              Promeni lozinku
            </button>
          </mat-card-actions>
        </div>
      </form>
    </div>
  </div>
</div>
