button {
  font-size: large;
}

.naslov {
  text-align: center;
  margin-top: 10%;
}

.pozadina {
  margin-top: 10%;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 5px;
  min-width: 500px;
}

#link {
  color: blue;
}

#link:hover {
  cursor: pointer;
}
