<div
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="25px"
  fxFlexFill
>
  <table
    style="text-align: center;"
    fxFlex="90%"
    mat-table
    class="mat-elevation-z8"
  >
    <tr mat-header-row>
      <th colspan="4"><h3>Podaci o polozenim ispitima</h3></th>
    </tr>
    <tr mat-header-row>
      <th>R. br</th>
      <th>Ime predmeta</th>
      <th>Konacna ocena</th>
      <th>Broj ESPB bodova</th>
    </tr>
    <tr *ngFor="let predmet of pohadjaniPredmeti; index as i">
      <td>{{ i + 1 }}.</td>
      <td>
        {{ predmet.nazivPredmeta }}
      </td>
      <td>{{ predmet.konacnaOcena }}</td>
      <td>{{ predmet.espb }}</td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr>
      <td>Prosek:</td>
      <td>{{ this.prosek }}</td>
      <td>Ukupno ostvareno bodova:</td>
      <td>{{ this.ukupnoBodova }}</td>
    </tr>
  </table>
</div>
