<style>

</style>

<section
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="1vh">

    <h3>{{this.sanduce.id}}</h3>    

    <section
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="1vw">
            <button 
                *ngIf="!this.userBusy"
                type="button"
                mat-button
                (click)="this.onCallStart()">zovi</button>

            <button 
                type="button"
                mat-button
                (click)="this.onCallEnd()">zavrsi poziv</button>
    </section>

</section>