<div
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="25px"
  fxFlexFill
>
  <table
    style="text-align: center;"
    mat-table
    class="mat-elevation-z8"
    fxFlex="70%"
  >
    <tr>
      <th colspan="5"><h3>Podaci o predmetima na kojima ste angažovani</h3></th>
    </tr>
    <tr>
      <th>R. br</th>
      <th>Naziv predmeta</th>
      <th>Broj predavanja</th>
      <th>Broj vezbi</th>
      <th>ESPB Bodovi</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let predmet of this.predmeti; index as i">
      <td>{{ i + 1 }}.</td>
      <td>{{ predmet.naziv }}</td>
      <td>{{ predmet.brojPredavanja }}</td>
      <td>{{ predmet.brojVezbi }}</td>
      <td>{{ predmet.espb }}</td>
      <td><button (click)="urediSilabus(predmet)">Uredi silabus</button></td>
      <td>
        <button (click)="dodajObavestenje(predmet)">Dodaj obavestenje</button>
      </td>
    </tr>
  </table>
  <div fxLayout="column" fxFlex="30%" fxFlexFill *ngIf="aktivniPredmet">
    <div fxLayout fxLayoutAlign="space-between center">
      <h1 fxFlex="20%">{{ aktivniPredmet.naziv }}</h1>
      <button fxFlex="10%" (click)="aktivniPredmet = null">X</button>
    </div>
    <div>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Naziv silabusa:</mat-label>
          <input
            matInput
            type="text"
            value="{{ aktivniPredmet.silabusDTO.naslov }}"
            #silabusNaziv="ngModel"
            [(ngModel)]="aktivniPredmet.silabusDTO.naslov"
            [ngClass]="{ invalid: silabusNaziv.invalid }"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Silabus</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="autosize"
            #silabus="ngModel"
            [(ngModel)]="aktivniPredmet.silabusDTO.opis"
            [ngClass]="{ invalid: silabus.invalid }"
            value=" {{ aktivniPredmet.silabusDTO.opis }}"
          ></textarea>
        </mat-form-field>
        <button (click)="sacuvajSilabus()">Sačuvaj izmene</button>
      </div>
    </div>
  </div>

  <div
    fxLayout="column"
    fxFlex="30%"
    fxFlexFill
    *ngIf="aktivniPredmetObavestenje"
  >
    <div fxLayout fxLayoutAlign="space-between center">
      <h1 fxFlex="20%">{{ aktivniPredmetObavestenje.naziv }}</h1>
      <button fxFlex="10%" (click)="aktivniPredmetObavestenje = null">X</button>
    </div>
    <div>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Naziv obavestenja:</mat-label>
          <input
            matInput
            type="text"
            #obavestenjeNaziv="ngModel"
            [(ngModel)]="obavestenje.naslov"
            [ngClass]="{ invalid: obavestenjeNaziv.invalid }"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tekst obaveštenja</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="autosize"
            #sadrzaj="ngModel"
            [(ngModel)]="obavestenje.sadrzaj"
            [ngClass]="{ invalid: sadrzaj.invalid }"
          ></textarea>
        </mat-form-field>
        <button (click)="sacuvajObavestenje()">Sačuvaj izmene</button>
      </div>
    </div>
  </div>
</div>
