<div fxLayout="column" fxLayoutAlign="center center">
  <div>
    <div fxLayout="column" fxLayoutAlign="space-around strech">
      <mat-form-field>
        <mat-label>Pretraga po broju indexa</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex.
    ium"
          #input
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pretraga po imenu i prezimenu</mat-label>
        <input
          matInput
          (keyup)="applyFilter2($event)"
          placeholder="Ex.
    ium"
          #input
        />
      </mat-form-field>
    </div>
    <table *ngIf="this.studentiPrikaz.length > 0" mat-table>
      <tr>
        <th>R. br</th>
        <th>Ime studenta</th>
        <th>Prezime studenta</th>
        <th>Email</th>
        <th>Broj indexa</th>
        <th>Datum upisa</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let student of this.studentiPrikaz; index as i">
        <td>{{ i + 1 }}.</td>
        <td>{{ student.registrovaniKorisnikDTO.ime }}</td>
        <td>{{ student.registrovaniKorisnikDTO.prezime }}</td>
        <td>{{ student.registrovaniKorisnikDTO.email }}</td>
        <td>{{ student.studijeDTO[0].brojIndeksa }}</td>
        <td>{{ student.studijeDTO[0].datumUpisa | date }}</td>
        <td>{{ student.stanje }}</td>
      </tr>
    </table>
    <div *ngIf="this.studentiPrikaz.length == 0">
      <h3>Ne postoje podaci za zadatu pretragu</h3>
    </div>
  </div>
</div>
