<style>
    mat-list-item {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
    }

    mat-list {
        max-width: 60vw;
        cursor: pointer;    
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    .header {
        border-radius: 5px;
        background-color: white;
        opacity: .8;
        margin: 2px 0;
        min-width: 70vw;
        text-align: center;
        cursor: default;
    }

    .margin-top { 
        margin-top: 5vh;
    }

    .bottom-section {
        height: 5vh;
    }

    .progress-spinner {
        margin: 2vw;
    }

    .progress-bar {
        margin: 5px 5px;
    }

    lib-my-angular-table {
        margin: 2px 0;
        background-color: white;
        opacity: .8;
        border-radius: 5px;
    }

    .section-form {
        margin: 2vh 6vw;
        background-color: white;
        border-radius: 5px;
        opacity: .9;
        min-width: 50vw;
    }

</style>

<section 
    fxLayout="column"
    fxLayoutAlign="center center"
    class="section-form">

    <h4>Kreiranje novog entiteta</h4>

    <mat-progress-bar 
        *ngIf="this.loading"
        class="progress-bar"
        mode="buffer"></mat-progress-bar>

    <lib-my-angular-form
        *ngIf="!this.loading && this.form"
        [form]="this.form"
        (onSubmit)="this.onSubmit($event)"
        (onCancel)="this.onCancel()"></lib-my-angular-form>

</section>

