<style>
    mat-sidenav-container, mat-sidenav, mat-sidenav-content {
        height: 100vh;
    }

    mat-sidenav {
        /* min-width: 30vw; */
        opacity: .8;
    }

    .white-color {
        background-color: white;
        opacity: .8;
        box-shadow: 2px 2px 5px black;
    }

    mat-list-item {
        cursor: pointer;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1vh;
        z-index: 1;
    }

    .section-table {
        margin: 2vh 6vw;
        background-color: white;
        border-radius: 5px;
        opacity: .9;
        min-width: 50vw;
        max-width: 80vw;
    }

    .margin-top-bottom-1 {
        margin: 1vh 0;
    }

    .progress-bar {
        margin: 5px 5px;
    }

    .cursor-pointer {
        cursor: pointer;
    }

</style>

<section
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2vh"
    *ngIf="this.nastavnici && this.table, else loading">

        <section
            class="section-table"
            fxLayout="column"
            fxLayoutAlign="center center"
            *ngIf="this.table && this.showTable">
                
                <lib-my-angular-table id="toPDFNastavnici" *ngIf="this.table" [table]="this.table" [perPage]="10"></lib-my-angular-table>

                <section
                    fxLayout
                    fxLayoutAlign="end center"
                    fxLayoutGap="2vw">
                        <mat-form-field>
                            <mat-label>Naziv pdf/xml fajla:</mat-label>
                            <input type="text" matInput [(ngModel)]="this.pdfXmlFileName">
                        </mat-form-field>

                        <img class="cursor-pointer" src="https://img.icons8.com/dusk/2x/pdf.png" alt="pdf button" title="eksport u pdf" width="30vw" (click)="this.onExportToPDF()">
                        <img class="cursor-pointer" src="https://img.icons8.com/dusk/2x/xml-file.png" alt="xml button" title="eksport u xml" width="30vw" (click)="this.onExportToXML()">
                </section>
        </section>

        <button type="button" (click)="this.onExportDone()" mat-raised-button>zatvori opciju za eksport podataka o nastavnicima</button>

</section>

<ng-template #loading>
    <section style="width: 20vw;">
        <mat-progress-bar 
            class="progress-bar"
            mode="buffer"></mat-progress-bar>
    </section>
</ng-template>